footer
    a(href="./index.html" class="logo") Joe Banegas

    ul.nav-btns
        li 
            a(href="./index.html#work") Work 
        li 
            a(href="./about.html") About
        li 
            a(href="./contact.html") Contact

    .copyright
        p &copy; 2018 Joseph Banegas. 
            br 
            | All rights reserved.

    ul.profiles
        li 
            a(href="https://github.com/bonez0607")
                i.fab.fa-github
        li
            a(href="https://stackoverflow.com/users/story/4881490")
                i.fab.fa-stack-overflow
                

    .contact
        i.far.fa-envelope
        p Looking for someone who isn't afraid to get their hands dirty, solve annoying problems, and keep your clients happy? Then drop me a line: <a href="mailto:joebanegas@gmail.com"> Joebanegas@gmail.com</a>
    script(src='js/main.js' type="text/javascript")