nav
    ul.nav-btns
        li.logo 
            a(href="./index.html") Joe Banegas
        li 
            a(href="./index.html#work") Work 
        li 
            a(href="./about.html") About
        li 
            a(href="./about.html") Contact

    ul.profiles
        li 
            a(href="https://github.com/bonez0607")
                i.fab.fa-github
        li
            a(href="https://stackoverflow.com/users/story/4881490")
                i.fab.fa-stack-overflow