doctype html
html
    include ./includes/head.pug
    title About Me | Joseph Banegas Portfolio

    meta(name='description', content='Hi, I’m Joe. I am a front-end engineer and designer based in Lincoln. Currently, I am the Information Assistant for the USDA National Agroforestry Center, where I do everything from laying out publications and creating custom graphics to developing web-based tools to help users access information more easily.')
    meta(name='keywords', content='design, front-end developer, web, joe banegas, joseph banegas, banegas, benegas, bangas, banagas')

    body.project-pages
        section.hero
            include ./includes/nav-bar.pug
            img.headshot(src="./assets/images/headshot.jpg")
            h1 About  
                br 
                .last-name Me
                
        section.copy               
            section(style="padding-top: 2em")
                p Hi, I’m Joe.

                p I truly enjoy creative problem solving — which is why you'll see a multitude of projects in my portfolio.

                p I am a front-end engineer and designer based in Lincoln. Currently, I am the Information Assistant for the USDA National Agroforestry Center, where I do everything from laying out publications and creating custom graphics to developing web-based tools to help users access information more easily. 

                p I am extremely passionate about web development, utilizing tools such as NPM, SCSS, ES6, HTML5, React, and PHP on a regular basis. I work with Google Chrome’s lighthouse for optimization and I use Axe to ensure all our pages meet accessibility standards. I pride myself in being up to date on the most cutting edge tools and apps at all times, “geeking out” in all things web development even on my days off.

                p Are you looking for someone who isn’t afraid to get their hands dirty and solve complex, annoying problems for your team? Are you looking to excite clients and keep stakeholders thrilled with your web development work? 

                a.btn.purple(href="./contact.php") Then lets chat! 

        include ./includes/footer.pug  

            //blockquote
                | OMGosh...Joe far exceeded my expectations!  
            //blockquote
                | Joe was a pleasure to work with. He was very professional, efficient, and available on short notice.
            //blockquote
                | Joseph was easy to communicate with prior to the event, he was on time, well organized and dressed appropriately for my event. 
            //blockquote
                | He was quite knowledgeable and absolutely professional in all aspects of his photographic discipline.  He was very prompt, extremely friendly, and easy to work with.  Most importantly, Joseph delivered exactly what was assigned to him. 