doctype html
html
    include ./includes/head.pug
    title About Me | Joseph Banegas' Portfolio
    meta(name='author', content='name')
    meta(name='description', content='Joseph Banegas is a designer, front-end developer, and photographer based in Lincoln, NE')
    meta(name='keywords', content='design, photographer, front-end developer, web')
    link(href="./final-products/interactive-map/css/map.css" rel="stylesheet")

    body.project-pages
        section.hero
            include ./includes/nav-bar.pug

            h1 About  
                br 
                .last-name Me
                
        section.copy               
            section(style="padding-top: 2em")
                p 
                    | Hello! I am a designer, front-end developer, and photographer based in Lincoln. 
                    | Currently, I am an Information Assistant for the USDA National Agroforestry Center, 
                    | where I do everything from laying out publications and creating custom graphics to developing web-based tools to help users access information more easily.
                    | In 2018, I successully completed the USDA Forest Service National New Leader Program.
                p
                    | I truly enjoy problem solving being creative &emdash; which is why you'll see a multitude of projects in my portfolio. I'm a firm believer that the skills from each of the categories: Design, Web Development, and Photography overlap within another. This overlap allows me to gain perspective of what is truly needed when I begin a project. 
                p
                    | Since 2013, I have also been freelance photographer.
                    | I've worked with my clients to capture birthdays, weddings, 5k races, products, portraits
                    | specializing in event and portrait photography. 
                    | I've captured birthdays, weddings, running events.

        include ./includes/footer.pug  

            //blockquote
                | OMGosh...Joe far exceeded my expectations!  
            //blockquote
                | Joe was a pleasure to work with. He was very professional, efficient, and available on short notice.
            //blockquote
                | Joseph was easy to communicate with prior to the event, he was on time, well organized and dressed appropriately for my event. 
            //blockquote
                | He was quite knowledgeable and absolutely professional in all aspects of his photographic discipline.  He was very prompt, extremely friendly, and easy to work with.  Most importantly, Joseph delivered exactly what was assigned to him. 