doctype html
html
    include ./includes/head.pug
    title Contact Me| Joseph Banegas' Portfolio
    meta(name='author', content='name')
    meta(name='description', content='Joseph Banegas is a designer, front-end developer, and photographer based in Lincoln, NE')
    meta(name='keywords', content='design, photographer, front-end developer, web')
    link(href="./final-products/interactive-map/css/map.css" rel="stylesheet")

    body.project-pages
        section.hero
            include ./includes/nav-bar.pug

            h1 Contact 
                br 
                .last-name Me
                
        section.copy               
            form
                label(for="first") First Name
                input(type="text" name="first")

                label(for="last") Last Name
                input(type="text" name="last")


                label(for="email") Email
                input(type="email" name="email")

                label(for="comments") Message
                textarea(name="comments" rows="15")

                button(type="submit" class="btn purple") Send message
        include ./includes/footer.pug  
