doctype html
html(lang="en-US")
    include ./includes/head.pug
    title Joseph Banegas' Portfolio - HTML email template
    meta(name='description', content='Credits for some of the mockups I used acrross the site')
    meta(name='keywords', content='credis, front-end developer, web, joe banegas, joseph banegas, banegas, benegas, bangas, banagas')
    
    body.project-pages
        section.hero
            include ./includes/nav-bar.pug
            h1 Credits 
                
        section.copy.pd-top-4               
            section.credits
                figure
                    img(src="./assets/images/hero-contact.png")
                    figcaption <a href="http://www.freepik.com">Designed by Freepik</a> 

                figure
                    img(src="./assets/images/757435.jpg")
                    figcaption <a href="http://www.freepik.com">Designed by Vecteezy</a> 

                figure
                    img(src="./assets/images/22.jpg")
                    figcaption <a href="http://www.freepik.com">Designed by Freepik</a> 

                figure
                    img(src="./assets/images/57297.jpg")
                    figcaption <a href="http://www.freepik.com">Designed by Freepik</a> 
             
        include ./includes/footer.pug  
