doctype html
html
    include ./includes/head.pug
    title Joseph Banegas' Portfolio - Designer | Developer | Photographer
    meta(name='author', content='name')
    meta(name='description', content='Joseph Banegas is a designer, front-end developer, and photographer based in Lincoln, NE')
    meta(name='keywords', content='joe, banegas, benegas, banagas, joseph banegas, joe banegas, design, photographer, front-end developer, web')

    body
        section.home.hero
            include ./includes/nav-bar.pug
            img(src="./assets/images/perspective.png")
            h1 Joe
                br
                span.last-name Banegas

        section.projects#work
            .half
                h2.subtitle Web Projects
                div.one.project
                    include ./includes/interactive-map.html
                    h3 Interactive Map
                    a.btn.white(href="./interactive-map.html")  View project
            .half
                div.two.project
                    h3 Webinar Library
                    a.btn.white(href="./webinar-library.html") View project

                div.three.project
                    h3 HTML Email Template
                    a.btn.white(href="./html-email-template.html")  View project

            .full.noodles
                h3 Noodlings
                p Here's over 25 projects I've completed on the side, whether its keeping up with modern trends or answering questions on StackOverflow. I enjoy taking time to teach and learn code.
               
                //list container for codepen items
                ul

                p.more-works 
                    a(href="https://codepen.io/jbanegas/pens/popular/") see more works &rarr;

        section.projects
            .half.order-2
                div.project.af-notes
                    h3 Agroforestry Notes Redesign
                    a.btn.white(href="./agroforestry-notes.html")  View project
                div.project.wildlife
                    h3 Wildlife Newsletter
                    a.btn.white(href="./wildlife-newsletter.html")  View project
            .half
                h2.subtitle.design Design Projects
                div.project.butterfly.order-2
                    h3 Pollinator Newsletter
                    a.btn.white(href="./pollinator-newsletter.html")  View project
    include ./includes/footer.pug
