doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="css/main.css")

    body
        nav
            .logo
                | Joe Banegas
            ul.nav
                li Portfolio
                li About
                li Contact

        .slide.slide-home
            .name   
                h1 
                    span.first Joe 
                    span.last Banegas

            .intro
                | Hey there! I&apos;m a designer, developer, and photographer based in Lincoln, NE.  


            .dots-container

        .slide.slide-web
            ul.images
                li 
                    include ../dist/assets/web/animated-text.pug
                li 
                    include ../dist/assets/web/404-page.pug
                each path, index in ["assets/web/Email-template.jpg", "assets/web/Interactive-map.jpg","assets/web/Webinar-Library.jpg"]
                    li 
                        img(src=path)
            h2 Front-end Developer

        .slide.slide-design
            ul.images
                each path, index in ["assets/design/IA_vol23issue1-1.jpg", "assets/design/IA_vol23issue2_pollinators-1.jpg", "assets/design/WTInfoSheet-AdaptRainIntensity-1.jpg", "assets/design/WTInfoSheet-ClimateAdaptation-1.jpg", "assets/design/WTInfoSheet-MultiFunctionalBuffer-1.jpg", "assets/design/WTInfoSheetCropPollinationJune2016-1.jpg", "assets/design/WTInfoSheet_HelpPollinators-1.jpg"]
                    li 
                        img(src=path)
            h2 Design

        .slide.slide-photography
            ul.images
                each path, index in ["assets/photo/headshot-1.jpg","assets/photo/headshot-2.jpg","assets/photo/headshot-3.jpg", "assets/photo/headshot-4.jpg", "assets/photo/landscape-1.jpg", "assets/photo/pets-1.jpg", "assets/photo/pets-2.jpg"]
                    li 
                        img(src=path)
            h2 photography
    footer
        script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js')
        script(src='assets/js/index.js')
