doctype html
html
    include ./includes/head.pug
    title Pollinator Newsletter | Joseph Banegas' Portfolio
    meta(name='author', content='name')
    meta(name='description', content='Joseph Banegas is a designer, front-end developer, and photographer based in Lincoln, NE')
    meta(name='keywords', content='design, photographer, front-end developer, web')
    link(href="./final-products/interactive-map/css/map.css" rel="stylesheet")

    body.project-pages
        section.hero
            include ./includes/nav-bar.pug
            img(src="./final-products/butterfly/butterfly-hero-BW.png")
            h1 Pollinator 
                br 
                .last-name Newsletter
                
        section.copy               
            section
                ul.frameworks
                    li InDesign
                    li Illustrator
                    li Photoshop
                    li Blender 3d

            section
                h2 Requirements
                ul
                    li Maintain Inside Agroforestry Branding
                    li 2-color printing
                    li Page length must be multiples of 4
                    li Maintain pollinator theme

            section
                h2 Research 

                p Because saving the pollinators is a big concern across several agencies, I began to look at what others were doing to raise awareness about pollinators. One of our partners, the Xerces Society for Invertebrate Conservation, specialises in pollinator conservation. They had a myriad of materials to look through and compare. 

                p The <a href="https://500px.com/leejeffries">Lee Jeffries</a> portfolio provided inspiration for the final product. 

                p <a href="https://www.flickr.com/photos/usgsbiml/">USGS portfolio of Bee inventory</a>


            section
                h2 The Journey

                p When our team met about this newsletter we knew the theme was pollinators, but wasn’t sure what we wanted to convey the message as. Our inspiration images included before/after images of what a supermarket produce section would look like without pollinators, we had come across a comic strip that portrayed a homeless be willing to work for nectra, we explored pollinators being super hero group like the Avengers. We settled on the super hero team and moved forward. 

                p In my spare time, I had been working on developing my photography skills and was looking at how to take better black and white photos. In doing so I came across the portfolio of Lee Jeffries who takes portraits of the homeless. His images are able to to tell a story, you are able to see the pain, suffering, personality, and hope in his images and it stuck with me. 

                p On my walk from my car to the office I began to think back to the comic strip and was thinking we could apply the style of Lee Jeffries to the <a href="https://s3.amazonaws.com/lowres.cartoonstock.com/animals-nectar-bee-insect-bug-hive-tmcn3996_low.jpg">comic strip</a> to create a compelling story that pollinators need habitat and food. 

                p I presented my idea to the team and it was received with great enthusiasm. We shifted gears and I began thinking of how I could best accomplish this. I had experience with an open source 3d software called Blender 3D and figured I could model the butterfly in that program, used the program to provide the appropriate lighting and then do the final touches in Photoshop.

                p When modeling in 3D I go straight to images of the object in real life. This was no different I searched Google images and Flickr. I also used the macro images that the USGS bee inventory had created. This allowed me to look at the various details I would need to incorporate in my model to pass it off as semi-realistic. I used a variety of custom textures I created as well as textures from <a href="textures.com">textures.com</a>.

                p Once I had my images, I set to modeling. The key to creating emotion in the image was modeling the antennae to look a bit dejected, leave the legs in an almost hanging position, the rest was really the lighting. It is high contrast and while there isn’t much rim lighting in Lee Jeffries images, I decided it helped bring focus to the butterflies face, to offset the amount of white that was in its body.  

                p Because the cover was a bit heavy, I wanted the rest of the layout to be more uplifting, light, and hopeful. As shown by these next few images. 


            section

                h2 Final Product
                .image-thirds
                    img(src="./final-products/html-email/example-1.png")
                    img(src="./final-products/html-email/example-2.png")
        include ./includes/footer.pug  
