form{
	display: flex;
	flex-flow: row wrap;


	label{
		margin-top: ms(1);
		flex-basis: 100%;
		font-size: ms(1);
	}

	input, textarea{
		flex-basis: 100%;
		font-size: ms(1);
		padding: ms(-6);
		font-weight: 300;
	}
}