*{
	font-family: $font;
}

html, body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, h1{
	font-family: $font;
}

body {
	color: $white;
	margin: 0 auto;
}

a {
	color: $orange;
	font-weight: 500;
}

h1 {
	font-size: ms(8);
	font-weight: 900;
	letter-spacing: 2px;
}

h2{
	font-size: ms(4);
	font-weight: 700;
}

section:not(:first-child){
	margin-top: ms(5)
}

h3{
	font-size: ms(2);
	font-weight: 700;
}

strong, .project-pages section.copy figure strong{
	color: $white;
	font-weight: 700;
}

p, li{
	font-size: ms(1);
	font-weight: 300;
	margin: ms(1) 0;
	line-height: ms(2);
}

ul {
	list-style: initial;
	margin-left: ms(4);
}

em {
	font-style: italic;
}

.hero .last-name{
	color: $lavendar;

}

.projects .half > h2 {
	margin-top: 0;
}

.contact {

	p a{
		text-decoration: none;
		color: $white;
		font-size: ms(1);
	}
}